{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    Empresa Software Soluções<br />
    Rua do Código, 1000<br />
    <abbr title="Telefone">Tel:</abbr>
    (11) 91010-1010
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:Suporte@example.com.br">Suporte@example.com.br</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com.br">Marketing@example.com.br</a>
    <strong>Supervisor:</strong> <a href="mailto:supervisorempresateste@example.com.br">supervisor_empresa_teste@example.com.br</a>
</address>

{% endblock %}
